<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotonTrail.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDC49D812CE45FF300F21D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDC49D912CE45FF500F21D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDC49D9B2CE45FF500F21D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
